html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible" content="IE=edge,chrome=1')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js')
    block style
  body
    block content

  block script
